*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6e1f0;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 16rem;
}
.card{
    background-color: white;
    width: 300px;
    height: 440px;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
    border-radius: 12px;
    box-shadow: 30px;   
    
}
.image {
    width: 300px;
    height: 250px;
    padding: bottom 1px;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: white;
    padding: top 0px;
    margin-top: 1rem;
}
.image img{
    width: 264px;
    height: 250px;
    border-radius: 8px;
    justify-content: center;
    align-content: center;
    display: flex;

}
h3{
    color: black;
    background-color: white;
    text-align: center;
    margin-top: 1rem;
}
p{
    color: #9b9fa7;
    text-align: center;
    padding: 0px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 1rem;
}

